{%extends 'base.html' %} {% block content %} {% if error is defined%}
<div class="allert" role="alert">
  <strong><i></i>Warning!</strong> {{error}}
  <button type="button" data-bs-dimiss="allert" aria-label="close"></button>
</div>
{%endif%}
<p>This is extract file.</p>
<h2>Extract opinions</h2>
<form class="form" method="post" action="{{url_for('extract')}}">
  <div>
    <div>
      <label for="product_id" class="">Product code: </label>
    </div>
    <div class="">
      <input
        type="text"
        name="product_id"
        id="product_id"
        class="formInput"
        aria-describedby="product_idHelpInline"
        placeholder="Enter product id:"
        required
      />
      <div>
        <span id="product_idHelpInline" class="formText"
          >Product code must be 5-10 digits long</span
        >
      </div>
      <div>
        <button type="submit">Extract</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
